// variable colors
$primary: #1A1A1A; // black 
$info: #1FB3AA; // ocean green
$secondary: #3A3A3A; // grey
$dark: #535252; // dark blue
$light: #FFFFFF; // white

// -- fonts --

$textFont: 'Inter', sans-serif;

//  --------------------------------------------

@import "~bootstrap/scss/bootstrap";

//  --------------------------------------------

body {
    background-color: $primary;
}

.logo-desktop {
    height: 80px;
    width: 140px;
}

.nav-link-home {
    font-weight: bold;
    position: relative;
    text-decoration: none;

    &:hover {
        background-color: $secondary;
    }


    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12px;
        width: 100%;
        height: 5px;
        background-color: $info;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover::after {
        opacity: 1;
    }

}

.nav-link-home-mobile {
    font-weight: bold;
    text-decoration: none;
}

.nav-link-shared {
    font-weight: bold;
    position: relative;
    text-decoration: none;

    &:hover {
        background-color: $secondary;
    }


    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12px;
        width: 100%;
        height: 5px;
        background-color: $info;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover::after {
        opacity: 1;
    }

}

.nav-link-shared-mobile {
    font-weight: bold;
    text-decoration: none;
}

.nav-link-shared.active {
    background-color: $secondary;
    position: relative;
}

.nav-link-shared.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 5px;
    background-color: $info;
    opacity: 1;
}

.article-date {
    font-size: 12px;
}

.article .article-img-mobile {
    height: 80px;
    width: 135px;

    .article-title-mobile {
        font-size: 8px;
    }
}

.team-img {
    height: 100px;
    width: 120px;
}

.team-nationality {
    font-size: 12px;
}

.article-img {
    max-height: 500px;
}