// variable colors
$primary: #1A1A1A; // black 
$info: #1FB3AA; // ocean green
$secondary: #3A3A3A; // grey
$dark: #535252; // dark blue
$light: #FFFFFF; // white
//  --------------------------------------------
@import "~bootstrap/scss/bootstrap";